html {
    font-size: 14px;
}

body {
    background-color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: .5px;
    font-weight: 400;
	text-align: justify;

    margin: 0;
    padding: 3rem;
}

h1 {text-align: center; margin-bottom: 4rem;}

#why-strand {margin-top: 4rem;}

#content {
    text-align: center;
    width: 100%;
    height: 200%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#strand-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15rem;
    padding: 30px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.4);
}

#strand-result img {width: 15rem;}

#strand-result-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#stats {
    display: flex;
    align-items: center;
    width: auto;
    gap: 1rem;
    margin-bottom: 2rem;
}

.bars {
    margin-top: 0.1rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 0.325rem;
}

.bars div {
    width: 10rem;
    height: 0.8rem;
}

#one {background-color: #00800080;}
#two {background-color: #d5d50080;}
#three {background-color: #be000080;}
#four {background-color: #1321bc80;}

.strands {text-align: left;}

#strand-description {text-align: justify;}

@media only screen and (min-width: 768px) {
    html {
        font-size: 16px;
    }

    #content {
        flex-direction: row;
        gap: 1rem;
        align-items: start;
    }
}

@media only screen and (min-width: 1000px) {
    #content {
        width: 75%;
        max-width: 100%;
        margin: 0 auto;
    }

    #reasoning {
        width: 75%;
        max-width: 75%;
        margin: 0 auto;
    }
}