body {
    background-color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: .5px;
    font-weight: 400;
	text-align: justify;

    margin: 0;
    padding: 0;
}

/* Open Sans font family */
@font-face {
    font-family: 'Open Sans';
    src: url(fonts/Open_Sans/OpenSans-Light.ttf) format(truetype);
    font-weight: 300;
    font-style: light;
}

@font-face {
    font-family: 'Open Sans';
    src: url(fonts/Open_Sans/OpenSans-Regular.ttf) format(truetype);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url(fonts/Open_Sans/OpenSans-Medium.ttf) format(truetype);
    font-weight: 500;
    font-style: oblique;
}

@font-face {
    font-family: 'Open Sans';
    src: url(fonts/Open_Sans/OpenSans-SemiBold.ttf) format(truetype);
    font-weight: 600;
    font-style: oblique;
}

#content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#q1 {
    /* margin-top: 5rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

#q1 h1 {
    margin: 0;
    width: 80%;
    max-width: 80vw;
}

.container {
    margin: 1.5rem;
    margin-right: 1.8rem;
    display: inline-block;
    position: relative;
    user-select: none;
}

.container input {
    opacity: 0;
    width: 2rem;
}

.checkmark {
    box-shadow: inset 1px 1px 10px 1px #00000051;
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    width: 2rem;
    background-color: white;
    border-radius: 50%;
}

.container input:checked ~ .checkmark {
    background-color: green;
}

#q1 button {
    border: none;
    background-color: green;
    font-size: 1.2rem;
    margin-top: 2rem;
    padding: 1rem 2rem;
    color: #fff;
    border-radius: 50px;
    margin-right: 0.8rem;
}

#q1 button:hover {
    background-color: rgb(2, 96, 2);
}